.navbar .navbar-nav .nav-link {
	color: white;
}

.navbar{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,53,125,1) 8%, rgba(61,9,121,1) 35%, rgba(174,206,255,1) 100%);
    margin-top: 0px;
   
}

.copyright{
	color: aliceblue;
	justify-content: center;
}

.navbar .navbar-nav .nav-link:hover {
	color: rgb(28, 1, 28);
}

.navbar .navbar-brand  {
	font-size: 25px;
}

.container{
    justify-content: center;
}

.btn-lg{
    background-color:rgb(147, 39, 219) ;
    color: white;
}

.btn-lg1{
    background-color:rgb(28, 1, 28) ;
    color:white;
}

.card{
    background-color:rgb(232, 226, 255);
    margin-bottom: 30px;
}

.footer {
	margin-top: 40px;

}

.footer-body {
	margin-top: 0px;
	margin-bottom: 0px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,53,125,1) 8%, rgba(61,9,121,1) 35%, rgba(174,206,255,1) 100%);
}

.judul {
	margin-bottom: 0px;
}

.container1{
    margin-left: 16%;
    margin-right: 16px;
    
}
.desc{
    height: 140px;
    font-size: 12px;
    font-weight: 150;
}


